@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
    width: 100%;
    height: 43vw;
    flex-direction: column;
}
.container_menu{
    display: flex;
    position: sticky;
    width: 100%;
    height: 12vh;
    justify-content: space-around;
    align-items: center;
}
header li:hover{
    font-weight: bold;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    width: 45vw;
}
header li{
    cursor: pointer;
    list-style: none;
    font-size: 1.4vw;
}
.laranja{
    background-image: url('./img/Laranja\ Azul.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 43vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.laranja h2{
    font-size: 4vw;
    color: white;
    margin-left: 5%;
}
.laranja button{
    background-color: transparent;
    border: transparent;
    font-size: 2vw;
    margin-top: 3%;
    margin-left: 5%;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.laranja button:hover{
    font-weight: bold;
    color: black;
}
.container_main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4%;
}
.container_main img{
    width: 20%;
    height: 20%;
    margin-top: 2%;
    margin-left: 4%;
}
footer{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #F6F6F6;
}
.sociais{
    display: flex;
}
.sociais img{
    cursor: pointer;
    width: 20%;
    height: 30%;
    margin: 5%;
}
.copyright{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.copyright p{
    width: 75%;
    font-size: 0.9vw;
}